
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 250px;
    width: 700px;
    margin-top: 20px;
    /* display: flex;
    justify-content: center; */
}

nav {
    margin-bottom: 50px;
    background-color: rgb(106, 158, 175);
    padding: 10px 30px;
}
.main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.register {
    background-color: rgb(106, 158, 175);
    padding: 2em 0em 1.5em 2.5em;
    border-radius: 5px;
    border: 2px solid black;
}

.register h1 {
    margin-left: 2em;
}

.btn {
    background-color: rgb(29, 120, 153);
    border: 1px solid black;
    margin-top: 10px;
    color: cornsilk ;
}

.btn:hover {
    background-color: black;
    color: cornsilk;
}

.frame {
    border: 2px solid black;
    display: flex ;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 10px;
    background-color: rgb(106, 158, 175);
}

label {
    margin-top: 15px;
    width: 500px ;
    font-weight: bold;
}

#form {
    display: flex;
}

.details {
    margin-top: 5rem ;
    padding: 20px;
}

.dash {
    padding: 15px ;
}

.fontTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: bold;
}

.link {
    color:black ;
}

.tableHead {
    background-color: rgb(106, 158, 175);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}